* {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

p,
a {
    color: #424242;
}

/* header CSS */
.header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.header .nav-title {
    color: #131313;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

.header ul {
    display: flex;
    gap: 50px;

}

.header ul li {
    list-style: none;
}

.header ul li a {
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

/* Heading text css */

.head-text-container {
    width: 862px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.head-title {
    color: #131313;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 32px;
}

.head-description {
    font-size: 16px;
    font-weight: 400;
}

.btn {
    border: 0;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #fff;
    margin-top: 32px;
}

.head-img {
    width: 100%;
    border-radius: 8px;
    margin-top: 50px;
}

/* Quick List CSS */

.team-container {
    display: flex;
    margin-top: 85px;
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.team-img {
    width: 260px;
}

.team-img-container {
    padding-left: 240px;
}

.team-content {
    padding-left: 75px;
    padding-right: 130px;
}

.team-heading {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}

.quick {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.text-features {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

/* Responsive Area */

@media screen and (max-width:576px) {

    /* Header */

    .header {
        padding: 30px;
    }

    .head-text-container {
        width: 100%;
    }

    .header ul {
        margin-top: 25px;
        gap: 25px;
    }

    .nav {
        flex-direction: column;
        margin-bottom: 25px;
    }
}


@media screen and (min-width:577px) and (max-width:992px) {
    .header {
        padding: 70px;
    }

    .head-text-container {
        width: 100%;
    }
}